<p id="notice"><%= notice %></p>

<p><%= @task.name %></p>
<p><%= @task.content %></p>
<p><%= @task.deadline %></p>
<p><%= @task.status %></p>
<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
